# Exploratory Data Analysis on dataset given

## Import packages

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
print(os.getcwd())

D:\Data Science\kaggle\HomeCreditDefaultRisk\notebook

In [3]:
os.chdir('D:/Data Science/kaggle/HomeCreditDefaultRisk')

## Load the base training set

In [4]:
training_base = pd.read_csv('./data/application_train.csv')
print(f'Training Set: {training_base.shape}')

Training Set: (307511, 122)

In [5]:
training_base.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

122 columns in base dataframe, let's check the data type and sample values in first row.

In [6]:
for _ in training_base.columns:
    print(f'{_ :50}| {training_base.loc[0, _]}')

SK_ID_CURR                                        | 100002
TARGET                                            | 1
NAME_CONTRACT_TYPE                                | Cash loans
CODE_GENDER                                       | M
FLAG_OWN_CAR                                      | N
FLAG_OWN_REALTY                                   | Y
CNT_CHILDREN                                      | 0
AMT_INCOME_TOTAL                                  | 202500.0
AMT_CREDIT                                        | 406597.5
AMT_ANNUITY                                       | 24700.5
AMT_GOODS_PRICE                                   | 351000.0
NAME_TYPE_SUITE                                   | Unaccompanied
NAME_INCOME_TYPE                                  | Working
NAME_EDUCATION_TYPE                               | Secondary / secondary special
NAME_FAMILY_STATUS                                | Single / not married
NAME_HOUSING_TYPE                                 | House / apartment
REGION_POPULATION_RELATIVE                        | 0.018801
DAYS_BIRTH                                        | -9461
DAYS_EMPLOYED                                     | -637
DAYS_REGISTRATION                                 | -3648.0
DAYS_ID_PUBLISH                                   | -2120
OWN_CAR_AGE                                       | nan
FLAG_MOBIL                                        | 1
FLAG_EMP_PHONE                                    | 1
FLAG_WORK_PHONE                                   | 0
FLAG_CONT_MOBILE                                  | 1
FLAG_PHONE                                        | 1
FLAG_EMAIL                                        | 0
OCCUPATION_TYPE                                   | Laborers
CNT_FAM_MEMBERS                                   | 1.0
REGION_RATING_CLIENT                              | 2
REGION_RATING_CLIENT_W_CITY                       | 2
WEEKDAY_APPR_PROCESS_START                        | WEDNESDAY
HOUR_APPR_PROCESS_START                           | 10
REG_REGION_NOT_LIVE_REGION                        | 0
REG_REGION_NOT_WORK_REGION                        | 0
LIVE_REGION_NOT_WORK_REGION                       | 0
REG_CITY_NOT_LIVE_CITY                            | 0
REG_CITY_NOT_WORK_CITY                            | 0
LIVE_CITY_NOT_WORK_CITY                           | 0
ORGANIZATION_TYPE                                 | Business Entity Type 3
EXT_SOURCE_1                                      | 0.08303696739132256
EXT_SOURCE_2                                      | 0.2629485927471776
EXT_SOURCE_3                                      | 0.13937578009978951
APARTMENTS_AVG                                    | 0.0247
BASEMENTAREA_AVG                                  | 0.0369
YEARS_BEGINEXPLUATATION_AVG                       | 0.9722
YEARS_BUILD_AVG                                   | 0.6192
COMMONAREA_AVG                                    | 0.0143
ELEVATORS_AVG                                     | 0.0
ENTRANCES_AVG                                     | 0.069
FLOORSMAX_AVG                                     | 0.0833
FLOORSMIN_AVG                                     | 0.125
LANDAREA_AVG                                      | 0.0369
LIVINGAPARTMENTS_AVG                              | 0.0202
LIVINGAREA_AVG                                    | 0.019
NONLIVINGAPARTMENTS_AVG                           | 0.0
NONLIVINGAREA_AVG                                 | 0.0
APARTMENTS_MODE                                   | 0.0252
BASEMENTAREA_MODE                                 | 0.0383
YEARS_BEGINEXPLUATATION_MODE                      | 0.9722
YEARS_BUILD_MODE                                  | 0.6341
COMMONAREA_MODE                                   | 0.0144
ELEVATORS_MODE                                    | 0.0
ENTRANCES_MODE                                    | 0.069
FLOORSMAX_MODE                                    | 0.0833
FLOORSMIN_MODE                                    | 0.125
LANDAREA_MODE                                     | 0.0377
LIVINGAPARTMENTS_MODE                             | 0.022000000000000002
LIVINGAREA_MODE                                   | 0.0198
NONLIVINGAPARTMENTS_MODE                          | 0.0
NONLIVINGAREA_MODE                                | 0.0
APARTMENTS_MEDI                                   | 0.025
BASEMENTAREA_MEDI                                 | 0.0369
YEARS_BEGINEXPLUATATION_MEDI                      | 0.9722
YEARS_BUILD_MEDI                                  | 0.6243
COMMONAREA_MEDI                                   | 0.0144
ELEVATORS_MEDI                                    | 0.0
ENTRANCES_MEDI                                    | 0.069
FLOORSMAX_MEDI                                    | 0.0833
FLOORSMIN_MEDI                                    | 0.125
LANDAREA_MEDI                                     | 0.0375
LIVINGAPARTMENTS_MEDI                             | 0.0205
LIVINGAREA_MEDI                                   | 0.0193
NONLIVINGAPARTMENTS_MEDI                          | 0.0
NONLIVINGAREA_MEDI                                | 0.0
FONDKAPREMONT_MODE                                | reg oper account
HOUSETYPE_MODE                                    | block of flats
TOTALAREA_MODE                                    | 0.0149
WALLSMATERIAL_MODE                                | Stone, brick
EMERGENCYSTATE_MODE                               | No
OBS_30_CNT_SOCIAL_CIRCLE                          | 2.0
DEF_30_CNT_SOCIAL_CIRCLE                          | 2.0
OBS_60_CNT_SOCIAL_CIRCLE                          | 2.0
DEF_60_CNT_SOCIAL_CIRCLE                          | 2.0
DAYS_LAST_PHONE_CHANGE                            | -1134.0
FLAG_DOCUMENT_2                                   | 0
FLAG_DOCUMENT_3                                   | 1
FLAG_DOCUMENT_4                                   | 0
FLAG_DOCUMENT_5                                   | 0
FLAG_DOCUMENT_6                                   | 0
FLAG_DOCUMENT_7                                   | 0
FLAG_DOCUMENT_8                                   | 0
FLAG_DOCUMENT_9                                   | 0
FLAG_DOCUMENT_10                                  | 0
FLAG_DOCUMENT_11                                  | 0
FLAG_DOCUMENT_12                                  | 0
FLAG_DOCUMENT_13                                  | 0
FLAG_DOCUMENT_14                                  | 0
FLAG_DOCUMENT_15                                  | 0
FLAG_DOCUMENT_16                                  | 0
FLAG_DOCUMENT_17                                  | 0
FLAG_DOCUMENT_18                                  | 0
FLAG_DOCUMENT_19                                  | 0
FLAG_DOCUMENT_20                                  | 0
FLAG_DOCUMENT_21                                  | 0
AMT_REQ_CREDIT_BUREAU_HOUR                        | 0.0
AMT_REQ_CREDIT_BUREAU_DAY                         | 0.0
AMT_REQ_CREDIT_BUREAU_WEEK                        | 0.0
AMT_REQ_CREDIT_BUREAU_MON                         | 0.0
AMT_REQ_CREDIT_BUREAU_QRT                         | 0.0
AMT_REQ_CREDIT_BUREAU_YEAR                        | 1.0

### Some categorical data to check at first glance

In [7]:
interesting_categorical_var = [
    'CODE_GENDER',
    'NAME_EDUCATION_TYPE',
    'OCCUPATION_TYPE',
    'WEEKDAY_APPR_PROCESS_START',
    'NAME_INCOME_TYPE',
    'NAME_FAMILY_STATUS',
]

In [8]:
for column in interesting_categorical_var:
    print(f'Checking {column}...')
    result_df = training_base[[column, 'TARGET']].groupby(column).agg({
        len,
        sum,
    })
    result_df.columns=['Total', 'Defect']
    result_df['Rate'] = result_df.apply(
        lambda _: _['Defect'] / _['Total'] if _['Total'] > 0 else np.nan,
        axis=1
    )
    print(result_df.sort_values(by=['Rate', 'Total'], ascending=[False, False]))
    print('-'*50)

Checking CODE_GENDER...
              Total  Defect      Rate
CODE_GENDER
M            105059   10655  0.101419
F            202448   14170  0.069993
XNA               4       0  0.000000
--------------------------------------------------
Checking NAME_EDUCATION_TYPE...
                                Total  Defect      Rate
NAME_EDUCATION_TYPE
Lower secondary                  3816     417  0.109277
Secondary / secondary special  218391   19524  0.089399
Incomplete higher               10277     872  0.084850
Higher education                74863    4009  0.053551
Academic degree                   164       3  0.018293
--------------------------------------------------
Checking OCCUPATION_TYPE...
                       Total  Defect      Rate
OCCUPATION_TYPE
Low-skill Laborers      2093     359  0.171524
Drivers                18603    2107  0.113261
Waiters/barmen staff    1348     152  0.112760
Security staff          6721     722  0.107424
Laborers               55186    5838  0.105788
Cooking staff           5946     621  0.104440
Sales staff            32102    3092  0.096318
Cleaning staff          4653     447  0.096067
Realty agents            751      59  0.078562
Secretaries             1305      92  0.070498
Medicine staff          8537     572  0.067002
Private service staff   2652     175  0.065988
IT staff                 526      34  0.064639
HR staff                 563      36  0.063943
Core staff             27570    1738  0.063040
Managers               21371    1328  0.062140
High skill tech staff  11380     701  0.061599
Accountants             9813     474  0.048303
--------------------------------------------------
Checking WEEKDAY_APPR_PROCESS_START...
                            Total  Defect      Rate
WEEKDAY_APPR_PROCESS_START
TUESDAY                     53901    4501  0.083505
WEDNESDAY                   51934    4238  0.081604
FRIDAY                      50338    4101  0.081469
THURSDAY                    50591    4098  0.081003
SUNDAY                      16181    1283  0.079291
SATURDAY                    33852    2670  0.078873
MONDAY                      50714    3934  0.077572
--------------------------------------------------
Checking NAME_INCOME_TYPE...
                       Total  Defect      Rate
NAME_INCOME_TYPE
Maternity leave            5       2  0.400000
Unemployed                22       8  0.363636
Working               158774   15224  0.095885
Commercial associate   71617    5360  0.074843
State servant          21703    1249  0.057550
Pensioner              55362    2982  0.053864
Student                   18       0  0.000000
Businessman               10       0  0.000000
--------------------------------------------------
Checking NAME_FAMILY_STATUS...
                       Total  Defect      Rate
NAME_FAMILY_STATUS
Civil marriage         29775    2961  0.099446
Single / not married   45444    4457  0.098077
Separated              19770    1620  0.081942
Married               196432   14850  0.075599
Widow                  16088     937  0.058242
Unknown                    2       0  0.000000
--------------------------------------------------

Some findings here:

- Males have less application but higher defect rate
- Person with less education have higher defect rate
- Widow, surprisingly have the lower defect rate
- Person applied the loan during weekdays seem to have little bit higher defect rate
- Person with lower skill level at work have lower defect rate